//_content.scss

  #contentBox{width: 100%; height: auto; }
  
  #bannerBox{width: 100%; height: 500px; background-color:map-get($color,line); margin-top: 15px;}
  #article1{width: 100%; height: 35px; background-color:map-get($color,white); margin-top: 20px; margin-bottom: 30px;}
  #article1>.aaa{width: 100%; height: 100%; }
  #article1>.aaa>li{width: 250px; height: 35px; background-color:map-get($color,yellow); float: left; margin-left: 150px; }
  #article1>.aaa>li>span{width: 35px; height: 100%; display: block; float: left;background-color:map-get($color,primary);}

  #article2{width: 100%; height: 230px ; background-color:map-get($color,white);}
  #article2>h2{@include badal(); }
  #article2>ul{width: 100%; height: 100%;}
  #article2>ul>li{@include miniBox(); }
  #article3{width: 100%; height: 230px; background-color:map-get($color,white); margin-top: 15px;}
  #article3>h2{@include badal(); }
  #article3>ul{width: 100%; height: 100%;}
  #article3>ul>li{@include miniBox(); }
  #article4{width: 100%; height: 600px; background-color: map-get($color,white);}
  #article4>h2{width: 100%; height: 80px; background-color: map-get($color,primary); 
    border-top: 10px solid map-get($color,yellow); border-bottom: 10px solid map-get($color,yellow); text-align: center;}



  #article4>ul{width: 100%; height: 100%;}
  #article4>ul>li{width: 410px; height: 260px; margin: 30px; background-color: map-get($color,yellow); float: left;}
  #article4>ul>li>div{width: 100%; height: 220px; background-color:map-get($color,white);}
  #article4>ul>li>.text{float: left; }
  #article4>ul>li>.text>li{float: left; margin-left: 50px; }

  #article4>ul>li>.img{width: 100%; height: 220px; background-color: map-get($color,line);}
  #article4 .text{float: left; }
  #article4 .text>li{float: left; margin-left: 50px; float: left; }