@import "../base/_variable.scss";
@import "../base/mixin.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./content_join.scss";

#wrap{width: 980px; height: auto; background-color: map-get($color,white);
      margin: 0 auto; }
#wrap:after{content: " "; display: block; clear: both;}
 




#unb{width: 490px; height: 35px; float: right; }
  .unb_1{width: 490px;height: 100%; float: left; }
  .unb_1>li{width: 90px; height: 30px; float: left; background-color: map-get($color,white);}
