
@mixin miniBox($w:300px, $h:180px, $c:line, $m:20px){
  width: $w; height:$h; background-color: map-get($color,$c); float: left; margin-left:$m; 
}
@mixin badal($w:175px, $h:40px, $c:primary, $m:20px){
  width:$w; height:$h; background-color:map-get($color,$c); margin-left: $m;}

@mixin idpwd($w:60%, $h: auto, $c:white, $m: 0 auto, $mt:30px){
  width: $w; height: $h; background-color: map-get($color,$c); margin: $m; margin-top: $mt;
 }
