#headBox {
  width: 100%;
  height: 180px;
  background-color: #f90;
  padding: 20px;
  box-sizing: border-box; }

h1 {
  width: 250px;
  height: 140px;
  margin: 0 auto;
  text-align: center;
  background-image: url("../../img/logo.jpg");
  background-repeat: no-repeat; }

#gnb {
  width: 100%;
  height: 100px;
  background-color: #333;
  margin: 0 auto; }

#gnb > ul {
  width: 980px;
  height: 100%;
  background-color: #ff4;
  margin: 0 auto; }

#gnb > ul > li {
  width: 10%;
  height: 100%;
  background-color: #333;
  float: left;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding-top: 40px;
  box-sizing: border-box; }

#gnb > ul > li > a {
  transition: all 200ms; }

#gnb > ul > li > a:hover {
  font-weight: bold;
  color: #ff4;
  font-size: 1.2em; }

#footBox {
  width: 960px;
  height: auto;
  margin-top: 900px;
  border-top: 3px solid #555;
  position: relative;
  left: 25%; }

#footBox > h2 {
  width: 100px;
  height: 100px;
  float: left;
  background-image: url("../../img/footlogo.jpg");
  margin-top: 39px;
  margin-left: 20px; }

#footBox > ul {
  width: 680px;
  height: 40px;
  float: left;
  margin-top: 39px; }

#footBox > ul > li {
  width: 95px;
  height: 40px;
  float: left; }

#footBox > ul > .sns01 > a {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("../../img/facebookicon.jpg"); }

#footBox > ul > .sns02 > a {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("../../img/navericon.jpg"); }

#footBox > ul > .sns03 > a {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("../../img/twitterlogo.jpg");
  background-repeat: no-repeat; }

#footBox > ul > .sns04 > a {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("../../img/google.jpg");
  background-repeat: no-repeat; }

#footBox > ul > .bdtong {
  margin-left: 50px; }

#footBox > ul > .bdtong2 > li {
  margin-left: 50px;
  clear: both; }

#footBox > ul > .bdtong2 > .copyright {
  margin-top: 15px; }

#footBox > .footBox1-1 {
  width: 107px;
  height: 107px;
  float: left;
  background-color: #fff;
  margin-top: 35px;
  margin-left: 20px; }

#footBox > .footBox1-1 > li {
  width: 40px;
  height: 40px;
  float: left;
  margin: 6px; }

#contentBox {
  width: 100%;
  height: auto; }

#contentBox {
  width: 100%;
  height: 400px;
  background-color: #fff; }

#articleBox {
  width: 100%;
  height: 310px;
  background-image: url("../../img/chickenbanner.jpg");
  background-position: center;
  border-bottom: 6px solid;
  color: #333;
  background-repeat: no-repeat;
  background-color: #222; }

#articleBox2 {
  width: 960px;
  height: auto;
  background-color: #fff;
  margin: 0 auto; }

#articleBox2 > .bannerpizza {
  width: 100%;
  height: 62px;
  background-color: #f90; }

#articleBox2 > .bannerpizza > h2 {
  width: 230px;
  height: 62px;
  background-color: #fff;
  text-align: center;
  font-weight: bold;
  color: #f90;
  font-size: 2.3em; }

#joinicon {
  width: 200px;
  height: 210px;
  background-image: url("../../img/joinicon.jpg");
  margin: 0 auto; }

.user {
  width: 760px;
  height: auto;
  background-color: #fff;
  margin-top: 30px;
  margin-left: 100px;
  float: left; }

form {
  width: 960px;
  height: auto; }

fieldset {
  height: 100%; }

.user > label {
  width: 37px;
  height: 40px;
  display: block;
  float: left;
  margin-top: 20px;
  margin-left: 45px;
  background-image: url("../../img/idicon.jpg");
  background-repeat: no-repeat; }

.user > .pegister {
  font-size: 0.5em;
  color: #f90;
  margin-left: 100px; }

.pwd > {
  width: 550px;
  height: auto;
  background-color: #fff;
  margin-top: 30px; }

.pwd > label {
  width: 35px;
  height: 48px;
  display: block;
  float: left;
  margin-top: 20px;
  margin-left: 45px;
  background-image: url("../../img/pwdicon.jpg");
  background-repeat: no-repeat; }

.input_box {
  width: 200px;
  height: 50px;
  border: 0;
  border-bottom: 3px solid #f90;
  margin: 6px;
  text-indent: 10px;
  margin-top: 10px;
  border-radius: 0.2em;
  margin-left: 20px; }

input[type="checkbox"] {
  margin-left: 100px;
  float: left; }

.idremeber {
  font-size: 0.5em;
  float: left; }

.pegister {
  font-size: 0.3em;
  float: left;
  margin-left: 50px; }

.loginjoin {
  width: 200px;
  display: block;
  float: left;
  margin-left: 150px;
  margin-top: -110px; }

input[type="submit"].bdtlogin {
  width: 200px;
  height: 50px;
  background-color: #f90;
  font-size: 1.2em;
  color: #fff;
  font-weight: bold;
  border-radius: 1em; }

input[type="submit"].bdtjoin {
  width: 200px;
  height: 50px;
  background-color: #555;
  font-size: 1.2em;
  color: #fff;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 1em; }

#articleBox3 {
  width: 100%;
  height: 500px;
  background-color: #fff;
  float: left; }

#articleBox3 > h2 {
  width: 230px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  margin-top: 80px;
  color: #f90;
  margin-left: 380px; }

#articleBox3 > ul {
  width: 400px;
  height: 400px;
  margin: 0 auto; }

#articleBox3 > ul > li > .blue {
  width: 100px;
  height: 50px;
  background-color: #39c;
  float: left;
  margin-top: 40px;
  margin-left: 90px;
  border-radius: 0.4em;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff; }

#articleBox3 > ul > li > .yellow {
  width: 100px;
  height: 50px;
  background-color: #630;
  float: left;
  margin-top: 40px;
  margin-left: 40px;
  border-radius: 0.4em;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff; }

#articleBox3 > ul > li > .green {
  width: 100px;
  height: 50px;
  background-color: #10d119;
  float: left;
  margin-left: 90px;
  border-radius: 0.4em;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff; }

#articleBox3 > ul > li > .red {
  width: 100px;
  height: 50px;
  background-color: #f00;
  float: left;
  margin-left: 40px;
  border-radius: 0.4em;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff; }

#articleBox3 > ul > li > p {
  clear: both;
  font-size: 0.8em;
  margin-left: 40px;
  top: 50px;
  color: #777; }

#wrap {
  width: 100%;
  height: auto;
  background-color: #fff;
  margin: 0 auto; }

#wrap:after {
  content: " ";
  display: block;
  clear: both; }

#unb {
  width: 100%;
  height: 35px; }

.unb_1 {
  width: 568px;
  height: 30px;
  float: right; }

.unb_1 > li {
  width: 90px;
  height: 30px;
  float: left;
  background-color: #fff;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  font-size: 0.8em; }

.unb_1 > .login {
  margin-left: 115px; }

.unb_1 > li > a:hover {
  font-weight: bold;
  color: #f90; }
