/*! reset.css */
@charset "utf-8";

/* reset: 브라우저 초기화(모든 브라우저 통일처리) */
   html,body{width: 100% height: 100%;}
   html,body, h1,h2,h3,h4,h5,h6,
   ul,ol,li,dl,dt,dd,
   p,div,pre,form,fieldset,hr{margin: 0; padding: 0;}

   ul,li,ol{list-style: none;}

   /*html5 reset*/
   header,nav,aside,article,section,footer,main,figure{display: block; margin: 0; padding: 0;}