/*! normalize.css */
@charset "utf-8";

.clearfix:after{content: " "; display: block; width: 0; height: 0; clear: both;}
.hidden{width: 0; height: 0; overflow: hidden;}
.full_area{width: 100%; height: 100%;}
#wrap .first_li{margin-left: 0;}