@import "../base/_variable";
@import "../base/mixin"; 
 
#wrap{width: 100%; height: auto; background-color: map-get($color,primary);}
#headBox{width: 100%; height: 80px; background-color:map-get($color,primary);
         border-bottom:1px solid map-get($color,font);}
#unb{width: 100%; height: auto; }
#unb>ul{width:200px; height: auto; float: right; } 
#unb>ul>li{width: 100px; height: 80px;float: left; margin-top: 30px; font-weight:bold; }  
#unb>ul>li>a:hover{color:map-get($color,red);font-weight: bold;}

#contentBox{width: 100%; height: auto;}
#about_me{width: 100%; height: 312.5vw;}
#about_me>div{background-color: map-get($color,primary);}
#about_me>.me_1{width: 100%; height:78.125vw; background-image: url("../../img/ft_img/me1.png");
              background-repeat: no-repeat; background-position: 0 0; 
              background-size: 90%; margin-top: 6vw;}
#about_me>.me_2{width: 100%; height:79.125vw; background-image: url("../../img/ft_img/me22.png");
               background-repeat: no-repeat; background-position:center;
               margin-top: 5vw; background-size: 80% }
#about_me>.me_3{width: 100%; height:88.125vw; background-image: url("../../img/ft_img/me3.png");
               background-repeat: no-repeat; background-position: 35% 0; 
               margin-top: 14vw;}
#about_me>.me_4{width: 100%; height:92.525vw; background-image: url("../../img/ft_img/me4.png");
             background-repeat: no-repeat; background-position: 40% 0; }   