@import "../base/_variable";
@import "../base/mixin";
  
#wrap{width: 100%; height: auto; background-color: map-get($color,primary);}
#headBox{width: 100%; height: 80px; background-color:map-get($color,primary);
         border-bottom:1px solid map-get($color,font);}
#unb{width: 100%; height: auto; }
#unb>ul{width:200px; height: auto; float: right; } 
#unb>ul>li{width: 100px; height: 80px;float: left; margin-top: 30px; font-weight:bold; }  
#unb>ul>li>a:hover{color:map-get($color,red);font-weight: bold;}
#contentBox{width: 100%; height:auto; background-color: map-get($color,primary);} 
#contentBox>div{width: 100%; height:1500px;}
#contentBox>.work_1{background-image: url("../../img/ft_img/work_/b1.png");
                   background-repeat: no-repeat; background-position: 50% 0;
                   margin-top: 10vw;
                   background-size:60%;}
#contentBox>.work_2{background-image: url("../../img/ft_img/work_/b1_1.png");
                   background-repeat: no-repeat; background-position: 50% 0;
                    margin-top: -18vw;}
#contentBox>.work_3{background-image: url("../../img/ft_img/work_/b3.png");
                   background-repeat: no-repeat; background-position: 50% 0;
                   margin-top: -10vw;}
#contentBox>.work_4{background-image: url("../../img/ft_img/work_/b4.png");
                   background-repeat: no-repeat; background-position: 60% 0;}
#contentBox>.work_5{background-image: url("../../img/ft_img/work_/b5.png");
                   background-repeat: no-repeat; background-position: 60% 0;}
#contentBox>.work_6{background-image: url("../../img/ft_img/work_/b6.png");
                   background-repeat: no-repeat; background-position: 40% 0;
                   margin-top: 6vw;}
#contentBox>.work_7{height: 1800px;background-image: url("../../img/ft_img/work_/b7.png");
                   background-repeat: no-repeat; background-position: 60% 0;
                   margin-top: 6vw;}
#contentBox>.work_8{background-image: url("../../img/ft_img/work_/b8.png");
                   background-repeat: no-repeat; background-position: 50% 0;
                   margin-top: 3vw;}
#contentBox>.work_9{background-image: url("../../img/ft_img/work_/b9.png");
                   background-repeat: no-repeat; background-position: 60% 0;
                   margin-top: -5vw;}
 #contentBox>.work_10{height:600px; background-image: url("../../img/ft_img/work_/2.png");
                   background-repeat: no-repeat; background-position: 50% 0;
                    background-size:20%}
  