/*! normalize.css */
@charset "utf-8";

.clearfix:after{content: ""; display: block; width: 0; height: 0; clear: both;}
   .hidden{display: block;  width: 0; height: 0; overflow: hidden; position: absolute; z-index: -100;}
   #wrap .first_li{margin-left: 0;}