#headBox { width: 100%; height: 110px; background-color: #f90; clear: both; padding: 20px; box-sizing: border-box; }

h1 { width: 160px; height: 60px; background-color: #f90; margin: 0 auto; }

#gnb { width: 980px; height: 60px; background-color: #333; }

#gnb > ul { width: 980px; height: 100%; background-color: #ff4; }

#gnb > ul > li { width: 10%; height: 100%; background-color: #333; float: left; }

#footBox { width: 100%; height: 400px; background-color: #ff4; margin-top: 20px; border-top: 3px solid #555; }

#footBox > h2 { width: 110px; height: 110px; background-color: #f90; float: left; margin-top: 20px; margin-left: 20px; }

#footBox > ul { width: 680px; height: 40px; float: left; }

#footBox > ul > li { width: 95px; height: 40px; float: left; }

#footBox > ul > .bdtong { margin-left: 50px; }

#footBox > ul > .bdtong2 > li { margin-left: 50px; clear: both; }

#footBox > .footBox1-1 { width: 120px; height: 120px; float: left; background-color: #fff; margin-top: 20px; margin-left: 20px; }

#footBox > .footBox1-1 > li { width: 50px; height: 50px; float: left; background-color: #f90; margin: 5px; }

#contentBox { width: 100%; height: auto; }

#contentBox { width: 100%; height: 1100px; background-color: #fff; margin-top: 15px; }

#articleBox { width: 100%; height: 130px; background-color: #555; border-bottom: 25px   solid; color: #f90; }

#articleBox > h2 { width: 300px; height: 120px; background-color: #fff; margin: 0 auto; text-align: center; color: #333; color: #f90; }

#articleBox2 { width: 100%; height: 700px; background-color: #fff; border-bottom: 25px   solid; color: #f90; }

#articleBox2 > h2 { width: 230px; height: 50px; background-color: #fff; margin: 0 auto; text-align: center; margin-top: 20px; color: #f90; }

.user { width: 60%; height: auto; background-color: #fff; margin: 0 auto; margin-top: 30px; }

.user > label { width: 30px; height: 30px; background-color: #f90; display: block; float: left; margin: 10px; margin-top: 20px; margin-left: 155px; }

input[type="submit"] { width: 100px; height: 46px; border: 0; padding: 0.5em; background-color: #f90; cursor: pointer; font-size: 1.2em; color: #fff; font-weight: bold; border-radius: 0.4em; }

.pwd > { width: 60%; height: auto; background-color: #fff; margin: 0 auto; margin-top: 30px; }

.pwd > label { width: 30px; height: 30px; background-color: #f90; display: block; float: left; margin: 10px; margin-top: 20px; margin-left: 350px; }

.input_box { width: 200px; height: 50px; border: 0; background-color: #ff4; margin: 6px; text-indent: 10px; margin-top: 10px; border-radius: 0.4em; }

.pegister { font-size: 0.3em; float: left; margin-left: 350px; color: #333; }

#wrap { width: 980px; height: auto; background-color: #fff; margin: 0 auto; }

#wrap:after { content: " "; display: block; clear: both; }

#unb { width: 490px; height: 35px; float: right; }

.unb_1 { width: 490px; height: 100%; float: left; }

.unb_1 > li { width: 90px; height: 30px; float: left; background-color: #fff; }
