#headBox { width: 100%; height: 110px; background-color: #f90; clear: both; padding: 20px; box-sizing: border-box; }

h1 { width: 160px; height: 60px; background-color: #f90; margin: 0 auto; }

#gnb { width: 980px; height: 60px; background-color: #333; }

#gnb > ul { width: 980px; height: 100%; background-color: #ff4; }

#gnb > ul > li { width: 10%; height: 100%; background-color: #333; float: left; }

#footBox { width: 100%; height: 400px; background-color: #ff4; margin-top: 20px; border-top: 3px solid #555; }

#footBox > h2 { width: 110px; height: 110px; background-color: #f90; float: left; margin-top: 20px; margin-left: 20px; }

#footBox > ul { width: 680px; height: 40px; float: left; }

#footBox > ul > li { width: 95px; height: 40px; float: left; }

#footBox > ul > .bdtong { margin-left: 50px; }

#footBox > ul > .bdtong2 > li { margin-left: 50px; clear: both; }

#footBox > .footBox1-1 { width: 120px; height: 120px; float: left; background-color: #fff; margin-top: 20px; margin-left: 20px; }

#footBox > .footBox1-1 > li { width: 50px; height: 50px; float: left; background-color: #f90; margin: 5px; }

#contentBox { width: 100%; height: auto; }

#bannerBox { width: 100%; height: 500px; background-color: #ccc; margin-top: 15px; }

#article1 { width: 100%; height: 35px; background-color: #fff; margin-top: 20px; margin-bottom: 30px; }

#article1 > .aaa { width: 100%; height: 100%; }

#article1 > .aaa > li { width: 250px; height: 35px; background-color: #ff4; float: left; margin-left: 150px; }

#article1 > .aaa > li > span { width: 35px; height: 100%; display: block; float: left; background-color: #f90; }

#article2 { width: 100%; height: 230px; background-color: #fff; }

#article2 > h2 { width: 175px; height: 40px; background-color: #f90; margin-left: 20px; }

#article2 > ul { width: 100%; height: 100%; }

#article2 > ul > li { width: 300px; height: 180px; background-color: #ccc; float: left; margin-left: 20px; }

#article3 { width: 100%; height: 230px; background-color: #fff; margin-top: 15px; }

#article3 > h2 { width: 175px; height: 40px; background-color: #f90; margin-left: 20px; }

#article3 > ul { width: 100%; height: 100%; }

#article3 > ul > li { width: 300px; height: 180px; background-color: #ccc; float: left; margin-left: 20px; }

#article4 { width: 100%; height: 600px; background-color: #fff; }

#article4 > h2 { width: 100%; height: 80px; background-color: #f90; border-top: 10px solid #ff4; border-bottom: 10px solid #ff4; text-align: center; }

#article4 > ul { width: 100%; height: 100%; }

#article4 > ul > li { width: 410px; height: 260px; margin: 30px; background-color: #ff4; float: left; }

#article4 > ul > li > div { width: 100%; height: 220px; background-color: #fff; }

#article4 > ul > li > .text { float: left; }

#article4 > ul > li > .text > li { float: left; margin-left: 50px; }

#article4 > ul > li > .img { width: 100%; height: 220px; background-color: #ccc; }

#article4 .text { float: left; }

#article4 .text > li { float: left; margin-left: 50px; float: left; }

#wrap { width: 980px; height: auto; background-color: #fff; margin: 0 auto; }

#wrap:after { content: " "; display: block; clear: both; }

#unb { width: 490px; height: 35px; float: right; }

.unb_1 { width: 490px; height: 100%; float: left; }

.unb_1 > li { width: 90px; height: 30px; float: left; background-color: #fff; }
